<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>countries</name>
            <label lang="de">Länder mit Dokumentenversand</label>
            <value></value>
            <description lang="de">Bitte Länder durch ; trennen. </description>
            <description lang="en"></description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>recipient</name>
            <label lang="de">Empfänger der Dokumente</label>
            <value></value>
            <description lang="de">Mehrere Empfänger bitte durch ; trennen.</description>
            <description lang="en"></description>
        </element>
        <element type="combo">
             <name>orderStates</name>
             <label>Bestell-Status</label>
             <store>Shopware.apps.Base.store.OrderStatus</store>
             <options>
                  <multiSelect>true</multiSelect>
                  <valueField>id</valueField>
                  <displayField>description</displayField>
             </options>
        </element>
    </elements>
</config>
